# a systemd service unit configuration for launcher.py
#
# to install:
# $ cp /home/odroid/git/balon/scripts/launcher.service /etc/systemd/system/balon.service
# $ systemctl enable balon.service
#

[Unit]
After=default.target

[Service]
ExecStart=/home/odroid/git/balon/scripts/launcher.py

[Install]
WantedBy=default.target

